.header_class {
    color: #7FDBFF;
    text-align: center;
}
#sub-container, #on-market{
    width: 48%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#dropdownio{
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#graphs-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#table-container {
    margin: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}